on boot
### csi module
    insmod /vendor/lib/modules/videobuf2-memops.ko
    insmod /vendor/lib/modules/videobuf2-dma-contig.ko
    insmod /vendor/lib/modules/vin_io.ko
    insmod /vendor/lib/modules/ov2680_mipi.ko
	insmod /vendor/lib/modules/gc02m1_mipi.ko
    insmod /vendor/lib/modules/vin_v4l2.ko
